.cp-bar-chart {
  width: 100%;
  line-height: 100%;

  .row {
    .episode {
      display: inline-block;
      width: 48px;
      font-size: 12px;
      font-weight: bold;
    }

    .bar {
      display: inline-block;
      position: relative;
      height: 10px;
      background: green;

      .reward {
        position: absolute;
        top: -2px;
        right: -20px;
        font-size: 12px;
      }
    }
  }
}
